<h1>Devices Record App</h1>

<div class="row">
  <%= render_button_link('add', 'Add New Device', new_device_path, style: 'right') %>
</div>
<div class="row">
  <table class="mdl-data-table mdl-js-data-table highlight" id="table-listing">
    <thead>
      <tr>
        <th>No</th>
        <th colspan="2" class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Brand</th>
        <th class="mdl-data-table__cell--non-numeric">Model</th>
        <th class="mdl-data-table__cell--non-numeric">OS</th>
        <th class="mdl-data-table__cell--non-numeric">Users</th>
        <th>Purchase date</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @devices.each_with_index do |device, index| %>
      <% row = index+ 1 %>
        <tr id=<%= "row-#{row}" %>>
          <td id=<%= "col-no-#{row}" %>><%= row %></td>
          <td id=<%= "col-name-#{row}" %> colspan="2" class="mdl-data-table__cell--non-numeric"><%= device.name %></td>
          <td id=<%= "col-brand-#{row}" %> class="mdl-data-table__cell--non-numeric"><%= device.brand %></td>
          <td id=<%= "col-model-#{row}" %> class="mdl-data-table__cell--non-numeric"><%= device.model %></td>
          <td id=<%= "col-os-#{row}" %> class="mdl-data-table__cell--non-numeric"><%= display_os(device) %></td>
          <td id=<%= "col-users-#{row}" %> class="mdl-data-table__cell--non-numeric"><%= display_users(device) %></td>
          <td id=<%= "col-date-#{row}" %> ><%= display_purchase_date(device) %></td>
          <td id=<%= "col-view-#{row}" %> ><%= render_icon_link('description', 'view', device, {style: 'right-align',id: "link-view-#{row}"}) %></td>
          <td id=<%= "col-edit-#{row}" %> ><%= render_icon_link('mode_edit', 'edit', edit_device_path(device), {style: 'right-align', id: "link-edit-#{row}"}) %></td>
          <td id=<%= "col-delete-#{row}" %> ><%= render_delete_link(device, 'delete', {style: 'center-align', id: "link-delete-#{row}"}) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>