<!DOCTYPE html>
<html>
  <head>
    <title>Beanie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <div class="container">
        <% if notice %>
          <script>
            $(function() {
              Materialize.toast('<%= notice %>', 2000);
            });
          </script>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>

  <%= javascript_include_tag "materialize_date"%>

</html>
